@model string 

<a asp-action="PlacesByCategory" asp-controller="Place" asp-route-city="@Model" asp-route-category="Restaurant">Restaurants</a>
<a asp-action="PlacesByCategory" asp-controller="Place" asp-route-city="@Model" asp-route-category="Cafe">Cafes</a>
<a asp-action="PlacesByCategory" asp-controller="Place" asp-route-city="@Model" asp-route-category="Hotel">Hotels</a>
<a asp-action="PlacesByCategory" asp-controller="Place" asp-route-city="@Model" asp-route-category="Entertainment">Entertainment</a>
<a asp-action="PlacesByCategory" asp-controller="Place" asp-route-city="@Model" asp-route-category="Shopping">Shopping</a>
<a asp-action="PlacesByCategory" asp-controller="Place" asp-route-city="@Model" asp-route-category="Tourist">Tourist</a>

